
    
    <md-content>
        

        <md-tabs md-center-tabs md-dynamic-height md-border-bottom id="tabs">
            
            <md-tab label="ABOUT">
                <md-content class="md-padding">
                    <div layout="column" layout-align="center center">
                        <div>
                    <img id="self" src="/images/IMG_20170907_091538_472 (1).jpg"/>
                        </div>
                    
                        <div id="about">
                    <p>Hi, I'm Jaffa, and I'm a web developer, photographer, and artist currently living in Minneapolis, Minnesota. 
                        I have a BA in photography and have completed a software engineering 
                        certificate at Prime Digital Academy. 
                    </p>
                    <p>
                        I've always enjoyed working with technology and, over the years, developed (pun intended?) 
                        an interest in coding. I love problem-solving, am very aesthetics-driven, and appreciate good UI. 

                    </p>
                    <p>
                        If you have any questions, or would like to hire me for a project or position with your 
                        organization, please feel free to contact me at <a href="mailto:j.aharonov@gmail.com">my email address</a>.
                    </p>
                        </div>
                        <div layout="row" layout-align="center center">
                        <a href="https://github.com/jaharonov" target="_blank"><img class="logo" src="images/GitHub-Mark-64px.png"/></a>
                        <a href="https://www.linkedin.com/in/jaffaaharonov/" target="_blank"><img class="logo" id="linkedin" src="/images/linked_in_round.png"/></a>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="PROJECTS">
                <md-content class="md-padding">
                    <div layout="row" layout-align="center center">
                    <div class="projects">
                    <a class="link" href="https://intense-atoll-25633.herokuapp.com/" target="_blank">MN ART OPPS</a>
                    <p>Solo project completed at Prime Digital Academy. This application is 
                        geared towards artists living in Minnesota. Users can track available residencies and grants. 
                    
                    </p>
                    </div>
                    <div>
                    <a class="link" href="https://polar-spire-15237.herokuapp.com/#/home" target="_blank">FOOTPRINT</a>
                    <p>Group project completed at Prime Digital Academy. This application
                        was created for an organization that is seeking to help humanitarian aid efforts minimize 
                    their carb impact footprint. </p>
                </div>
            </div>
                </md-content>
            </md-tab>
            <md-tab label="SKILLS">
                <md-content class="md-padding">
                    <div layout="row" layout-align="center center">
                        <div>
                            <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>AngularJS</li>
                            <li>Angular Material</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>P5js</li>
                            <li>Processing</li>
                            <li>Jquery</li>
                            <li>E6</li>
                            <li>Express</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                            <li>Git</li>
                            <li>SQL</li>
                            <li>MongoDB</li>
                            <li>AJAX</li>
                            <li>Node</li>
                            <li>PHP</li>
                            <li>React</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>Lightroom</li>
                            <li>Premiere</li>
                            </ul>
                        </div>

                        </div>
                    
                    
                </md-content>
            </md-tab>
        </md-tabs>
        <!-- </md-tabs-wrapper> -->
    </md-content>
